# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Streamlit secrets
.streamlit/secrets.toml

# Node modules (for web-based projects)
node_modules/

# IDE-specific files
*.idea/
*.iml

# Logs and temporary files
*.log
*.tmp
*.temp
temp/
